/* 
头部导航条
 */
#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 10px;
    top: 10px;
    list-style-type: none;
    z-index: 70;
}

#menu li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 14px;
}

#menu a {
    float: left;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

#menu .active a {
    color: #fff;
    background-color: #333;
}

.section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}

body{
    overflow: hidden; 
    height: 100%; 
    font-size: 45.44%;
}
 .section .fn{
    position: relative;
    display: none;
 }
 /* .section.active .fn{

 } */

 .section span{
     display: block;
 }
.dropdown{
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: 10px;
    z-index: 70;
}
  
 